.f-container {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 0.5px solid rgba(0, 0, 0, 0.148);
}
.f-left {
  gap: 1rem;
}
.f-menu {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .f-container {
    justify-content: center;
    flex-direction: column;
  }
  .f-container > div {
    align-items: center;
    text-align: center;
  }
}
