.properties-container {
  gap: 2rem;
}
.properties-container .search-bar {
  margin-top: 100px;
  width: clamp(12rem, 100%, 28rem);
  border-radius: 30px;
  border: 1px solid rgba(120, 120, 120, 0.374);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 10px;
}
.properties-container .search-bar .button {
  border-radius: 30px;
  font-size: 12px;
  padding: 10px 15px;
}

.properties-container .search-bar input {
  width: 75%;
  border: 0;
  outline: 0;
}
